################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/web/NSE.WebApp.MVC/Configuration/Anotações.txt
